@font-face {
    font-family: gotham;
    src: url(fonts/gotham-black.otf);
}
@font-face {
    font-family: gothamBook;
    src: url(fonts/gotham-book.otf);
}

* {margin: 0; padding: 0;
    font-family: gotham, "Helvetica Neue", sans-serif; color: white;
}

html {background: white}

body {width: 1080px; height: 1920px; background: black;
    position: relative;}

p {font-family: gothamBook, sans-serif; font-size: 34px; margin: 10px 0; clear: both}

h1 {font-family: gothamBook, sans-serif; font-weight: normal; font-size: 48px; text-align: center; margin-top: 50px}

.button_strip {position: absolute; bottom: 0; left: 0; width: 100%; height: 100px;}

.button {width: 120px; background: #FAA634;
    padding: 10px; font-weight: bold; font-size: 38px;
    text-align: center; color: white; cursor: pointer;
}

video {position: absolute; top: 0; left: 0}

.yes, .no {float: left; margin-right: 10px; margin-bottom: 30px; background: black; font-size: 38px}
.yes.selected, .no.selected {background: #FAA634}

.button.left {position: absolute; left: 50px}
.button.right {position: absolute; right: 50px}
.button.centre {margin: 0 auto}

.kh_logo {margin: 0 auto; display: block;}

.page {padding: 80px;}

.warning {background: url("furniture/warning.png") 7px center no-repeat;
    background-color: white; color: black; display: flex;
    padding: 2px 2px 2px 60px;
    font-size: 28px;
    font-family: gothamBook, sans-serif;
}
.warning {display: none}
.page {display: none}

.listHolder {height: 700px; margin-top: 0}

.modalBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 10;
    display: none;
}
.modalHolder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}

.modalContent {
    width: 70%;
    border: white 3px solid;
    z-index: 20;
    margin: 0 auto;
    padding: 30px;
    background: black;
}
.modalContent img {margin-bottom: 30px}

#modalNext {margin-top: 30px}


.homeIconHolder {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 85%
}
.heroHolder {width: 750px; height: 750px; margin: 250px auto 0 auto; position: relative;}

.hero {
    position: absolute;
    width: 40%;
    height: 40%;
}

.heroHolder img {width: 100%}

.hero.top {top: 0}
.hero.bottom {bottom: 0}
.hero.left {left: 0}
.hero.right {right: 0}

h3 {
    text-align: center;
    font-size: 32px;
}

h2 {font-family: gotham, sans-serif; font-size: 64px; text-align: center; margin-top: 30px; color: #FAA634}

#startBtn {margin-top: 200px; width: 200px; height: inherit; font-size: 48px}

.success {display: none}
.success img {height: 250px;}

.homeLogo {height: 170px; margin: 0 auto; display: block}

.recycleWarning {background: url("furniture/warning.png") 7px center no-repeat;
    background-color: white; color: black; display: flex;
    padding: 2px 2px 2px 60px;
    font-size: 32px; margin-top: 40px;
    font-family: gothamBook, sans-serif;
}
